<div id="banner_logo" class="small-8 small-centered columns">
  <div id="banner_info">
    <h1>You've got — <span>BIG</span> goals!</h1>
    <p>Whether you’re ready to conquer Mt. Everest, find Nirvana, or finally swap fast foods for whole foods,
      OnlyChai is your new secret weapon in the battle for better health.</p>
    </div>
    <%= image_tag("only_chai_logo.png") %>
    <br><br>
    <% if !current_user %>
      <div class="row">
        <div class="small-12 medium-6 large-6 columns">
          <a href="/signin" class="button expand radius">Login</a>
        </div>
        <div class="small-12 medium-6 large-6 columns">
          <a href="/signup" class="button expand radius success">Signup</a>
        </div>
      </div>
    <% end %>
</div>
<br><br>
<div class="small-12 small-centered columns">
  <hr class="clearfix">
</div>
<section id="about" class="section dark text-center">
        <div class="container small-12 columns">

      <div class="row">
        <div class="small-12 medium-6 large-6 columns">
          <%= image_tag "features/people.png" %>
        </div>
        <div class="small-12 medium-6 large-6 columns trans-bg" >
          <br>
          <article class="small-12 small-centered columns">
            <h3>MEET YOUR <span class="highlight">MATCH</span></h3>

            <p>The health care system is broken. It only reacts to illness, instead of building health from the ground up. Personal trainers and nutritionists can help set the right goals, and help you meet those goals. But today...</p>
            <p align="left"><b><font size="+1">Trainers</font></b> get matched with unmotivated clients, and lose huge chunks of hard-won income to their health clubs.</p>
            <p align="left"><b><font size="+1">Clients</font></b> need access to the right trainer, smart workouts whenever/wherever, affordable help, motivation, and accountability.</p>
            <p align="left"><b><font size="+1">Corporations</font></b> could save up to 41% of health care costs, and 52% of overall costs, if their employees would get healthy and thrive. (<i>Gallup</i>)</p>
            <p>OnlyChai finds you a custom, proactive healthcare team to help you get fit on your terms.</p>
          </article>
        </div>
      </div>

      <hr class="clearfix">

      <div class="row">
        <div class="small-12 medium-6 large-6 columns">
          <%= image_tag "features/phone.png" %>
        </div>
        <div class="small-12 medium-6 large-6 columns trans-bg">
          <br><br>
          <article class="small-12 small-centered columns">
            <h3>WHAT WE <span class="highlight">DO</span></h3>
            <div class="sub-title">Build your dream team for a better life.</div>
            <p>OnlyChai matches you with <b>certified health experts</b> who specialize in your body type, health needs and goals. We are a complete community where you'll find local <b>workout friends</b>, <b>crowdfunded support</b>, <b>fresh content</b>, and <b>powerful incentives</b> to help you get healthy and stay healthy.</p>
            <br>
          </article>
        </div>
      </div>

          <hr class="clearfix">

      <div class="row trans-bg">
        <div class="small-12 small-centered columns">
          <h3>USING PROVEN TECHNOLOGY TO BUILD <span class="highlight">SOMETHING NEW</span></h3>
          <div class="sub-heading">
            We have created a comprehensive matching system with functionality for targeted networking, funding, and incentives.
            <br>
          </div><br />
        </div>
        <div class="row">
          <div class="small-12">
            <article class="small-12 medium-4 large-4 columns">
              <i class="howitworks icon icon-seo-icons-03 icon-active"></i>
              <span class="h7">TARGETED ACCESSIBILITY</span>
              <p class="thin">Sync with the health expert you feel comfortable with, <br>someone who specializes in yourinjuries, goals, <br>health concerns, and philosophy.</p>
            </article>
          </div>
          <div class="small-12">
            <article class="small-12 medium-4 large-4 columns" >
              <i class="howitworks icon icon-shopping-04 icon-active"></i>
              <span class="h7">AFFORDABILITY</span>
              <p class="thin">Raise funds for health goals via crowdfunding.<br>Earn cash back for training services,<br>referrals, and in-site purchases.</p>
            </article>
            <!--<span class="icon icon-arrows-04"></span>-->
          </div>
          <div class="small-12">
            <article class="small-12 medium-4 large-4 columns">
              <i class="howitworks icon icon-seo-icons-05 icon-active"></i>
              <span class="h7">ACCOUNTABILITY</span>
              <p class="thin">Get motivation and support from your trainer and buddies. Pay into a supportive community for unfinished health programs.</p>
            </article>
          </div>
        </div>
        <br>
        <br>
      </div>

    </div>
  </section>


  <section id="feedback">
    <div class="container small-12 columns">
        <hr class="clearfix">
        <div class="small-12 small-centered columns trans-bg">
            <div class="small-12 small-centered columns">
                <h2 class="text-center"><span class="highlight">CUSTOMER</span> STORIES</h2>
            </div>

        <!-- BEGIN SLIDER CONTENT -->
        <div id="testimonials" class="small-10 small-centered columns">
          <ul class="example-orbit-content" data-orbit>
            <li data-orbit-slide="headline-1">
              <div>
                <blockquote>
                  <span class="highlight">" </span>The cost of healthcare keps going up, so the company decides to invest in wellness check-ups and gym subsidies for employees, to cut reactive care costs. With the OnlyChain portal, employees are matched with certified trainers and nutritionists, which gets them motivated to use the gym, this time with a plan and purpose. Pounds come off, back pain stops, energy goes up, and productivity increases.<span class="highlight"> "</span>
                </blockquote>
              </div>
            </li>
            <li data-orbit-slide="headline-2">
              <div>
                <blockquote>
                  <span class="highlight">" </span>Whether she's a workout newbie, or an avid fitness lover looking for a challenge, OnlyChai gives her access to the right trainer for her fitness level, activity preferences, age, and body type. If she's out of town, she can find a trainer who's ready to go right there. She gets an affordable rate, cash back for meeting goals, and crowd funding when she needs it. Every day she finds fresh, expert content about fitness.<span class="highlight"> "</span>
                </blockquote>
              </div>
            </li>
            <li data-orbit-slide="headline-3">
              <div>
                <blockquote>
                  <span class="highlight">" </span>He's been working with unmotivated, mismatched strangers for two years, paying out 30% of his earnings to the health club. Now with OnlyChai, he can focus on serving the clients he's trained to work with, whether that's pre-diabetic retirees, or Olympic marathon runners. He's making his own hours, building his own strategic client list, and paying a small cut of his earnings for the unique matching resources OnlyChai provides.<span class="highlight"> "</span>
                </blockquote>
              </div>
            </li>
            <li data-orbit-slide="headline-4">
              <div>
                <blockquote>
                  <span class="highlight">" </span>The cost of healthcare keps going up, so the company decides to invest in wellness check-ups and gym subsidies for employees, to cut reactive care costs. With the OnlyChain portal, employees are matched with certified trainers and nutritionists, which gets them motivated to use the gym, this time with a plan and purpose. Pounds come off, back pain stops, energy goes up, and productivity increases.<span class="highlight"> "</span>
                </blockquote>
              </div>
            </li>
            <li data-orbit-slide="headline-5">
              <div>
                <blockquote>
                  <span class="highlight">" </span>Whether she's a workout newbie, or an avid fitness lover looking for a challenge, OnlyChai gives her access to the right trainer for her fitness level, activity preferences, age, and body type. If she's out of town, she can find a trainer who's ready to go right there. She gets an affordable rate, cash back for meeting goals, and crowd funding when she needs it. Every day she finds fresh, expert content about fitness.<span class="highlight"> "</span>
                </blockquote>
              </div>
            </li>
          </ul>
        </div>
        <!-- END SLIDER -->
        </div>
    </div>
    </section>


    <section id="team">
      <div class="small-12 columns text-center ">
      <hr class="clearfix">
        <div>
          <div class="small-12 columns">
            <h2>BEHIND <span class="highlight">THE</span> SCENES</h2>
            <div class="sub-heading">
              Our founders are experienced in fitness, investments, media, marketing, healthcare innovation, and consulting.
              <br>They share a love of all things entrepreneurial, and thrive on creative pursuits.
            </div>
            <br>
            <p>We provide the fun, inspiration, motivation, tools, incentives, and technology to get you where you need to go.<br>We can help you crowdfund your fitness dreams when you need a little support.<br>That's the magic of OnlyChai.com</p>
          </div>
          <div class="row trans-bg">
            <div class="small-12 medium-4 large-4 columns">
              <div class="thumb-wrapper">

                <div class="socials">

                </div>
                <%= image_tag "features/team-1.png" %>
              </div>
              <span class="h7 highlight">KUBER BHALLA</span>
              <p class="thin">CEO<br>Co-founder</p>
            </div>

            <div class="small-12 medium-4 large-4 columns">
              <div class="thumb-wrapper">

                <div class="socials">

                </div>
                <%= image_tag "features/team-2.png" %>
              </div>
              <span class="h7 highlight">JASON MACHWOSKY</span>
              <p class="thin">CSO<br>Co-founder</p>
            </div>

            <div class="small-12 medium-4 large-4 columns">
              <div class="thumb-wrapper">

                <div class="socials">

                </div>
                <%= image_tag "features/team-3.png" %>
              </div>
              <span class="h7 highlight">ROB CHRZANOWSKI</span>
              <p class="thin">CTO<br>Co-founder</p>
            </div>

          </div>
        </div>
      </div>
    </section>

    <footer id="footer" class="small-12 columns ">
      <hr class="clearfix">
        <div class="container trans-bg text-center">
            <div class="row">
                <div class="small-4 columns">
                    <div class="logo-wrapper">
                        <%= image_tag "only_chai_logo" %>
                    </div>
                    <p class="h6">This is the vision of OnlyChai: a complete health community on a mission to match clients and health experts perfectly, so they can achieve their goals together, then build better lives, and stronger companies.<br>Together we're healthier!</p>
                </div>
                <div class="small-5 columns social-wrap">
                    <h3>Social Networks</h3>
                    <ul class="list-inline socials">
                        <li><a href="https://www.facebook.com/onlychai"><%= image_tag "features/facebook.png" %></a></li>
                        <li><a href="https://www.twitter.com/onlychai"><%= image_tag "features/twitter.png" %></a></li>
                    </ul>
                </div>
                <div class="small-3 columns">
                    <h3>Our Contacts</h3>
                    <ul class="list-unstyled">
                        <li>
                            <span class="icon icon-chat-messages-14"></span>
                            <a href="mailto:contact@onlychai.com">contact@onlychai.com</a>
                        </li>
                    </ul>
                </div>
            </div>
        <div class="copyright">OnlyChai LLC 2015. All rights reserved.</div>
        </div>
    </footer>